@using Lira.Ui.Components.Forms

@namespace Lira.Web.Pages.SignIn
@page "/sign-in"

<link href="css/LoginPage.css" rel="stylesheet" />

<div class="login-body">
    <LoginForm/>
</div>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

@code {
    private string Email { get; set; }
    private string Password { get; set; }
    private string? ErrorMessage { get; set; }

    private async Task LoginUser()
    {
        try
        {
            // var result = await _authService.LoginUser(Email, Password);
            //
            // if (result.Succeeded)
            // {
            //     _navigationManager.NavigateTo("/");
            // }
            // else
            // {
            //     ErrorMessage = result.Errors.First().Description;
            // }
        }

        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
