@using Lira.Ui.Components.Forms

@namespace Lira.Web.Pages.SignIn
@page "/sign-in"

@* <link href="css/LoginPage.css" rel="stylesheet" /> *@

<div class="login-body">
    <LoginForm/>
</div>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
