<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"
    />

    <base href="/" />

    <title>Lira</title>

    <link rel="stylesheet"
          type="text/css"
          href="_content/Lira.Ui/styles/Global.css"
    />

    <link rel="stylesheet"
          type="text/css"
          href="_content/Lira.Ui/styles/forms/LoginForm.css"
    />

    <link rel="stylesheet"
          type="text/css"
          href="_content/Lira.Ui/styles/inputs/LoginInput.css"
    />


    <link rel="icon"
          type="image/png"
          href="favicon.png"
    />

    <HeadOutlet />
</head>

<body>
    <Routes />

    @* ReSharper disable Html.PathError *@
    <script type="text/javascript"
            src="_framework/blazor.web.js"
    >
    </script>

</body>

</html>
