@namespace Lira.Ui.Components.Forms

<link href="styles/forms/LoginForm.css"
      rel="stylesheet"
      type="text/css"
/>

<form>
    <h3>Lira</h3>

    <LoginInput Type="@InputTypes.Text"
                Name="username"
                Id="username"
                Placeholder="Username"
    />

    <LoginInput Type="@InputTypes.Password"
                Name="password"
                Id="password"
                Placeholder="Password"
    />

    <ConfirmButton Text="Login"
                   Type="@InputTypes.Submit"
    />

    <img src="img/logo.svg"
         alt="Logo"
         class="logo"
    />
</form>
