@namespace Lira.Ui.Components.Forms

<form>
    <h3>Login</h3>

    <LoginInput Type="@InputTypes.Text"
                Name="username"
                Id="username"
                Placeholder="Username"
    />

    <LoginInput Type="@InputTypes.Password"
                Name="password"
                Id="password"
                Placeholder="Password"
    />
</form>
